MYSQL_DATABASE=releasepilot
MYSQL_USER=releasepilot
MYSQL_PASSWORD=change-me-for-local-development
MYSQL_ROOT_PASSWORD=change-root-password-for-local-development
CONTROL_PLANE_PORT=8080
WEB_CONSOLE_PORT=3000
ANALYSIS_WORKER_PORT=8090
MYSQL_PORT=3306
OIDC_ENABLED=false
OIDC_REGISTRATION_ID=releasepilot
OIDC_AUTO_PROVISION=false
OIDC_ALLOWED_EMAIL_DOMAINS=
GITHUB_CHECKS_ENABLED=false
GITHUB_CHECKS_SECRET_REF=env:GITHUB_CHECKS_TOKEN
GITHUB_CHECKS_TOKEN=
AUDIT_ARCHIVE_ENABLED=false
AUDIT_ARCHIVE_PROVIDER=http
AUDIT_ARCHIVE_ENDPOINT=http://localhost:9080/audit/
AUDIT_ARCHIVE_TOKEN=
AUDIT_ARCHIVE_S3_BUCKET=
AUDIT_ARCHIVE_S3_PREFIX=audit-events
AUTH_RATE_LIMIT_ENABLED=true
AUTH_RATE_LIMIT_CLEANUP_INTERVAL=PT10M
LOGIN_RATE_LIMIT_IP_MAX=20
LOGIN_RATE_LIMIT_IP_WINDOW=PT5M
LOGIN_RATE_LIMIT_ACCOUNT_MAX=5
LOGIN_RATE_LIMIT_ACCOUNT_WINDOW=PT5M
DEMO_RATE_LIMIT_IP_MAX=30
DEMO_RATE_LIMIT_IP_WINDOW=PT1M
